<%= form_for @signature, html: { class: 'form-horizontal x-wide' } do |f| %>
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "E-mail Address", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :newsletter, "Send me e-mails about getting money out of politics", class: "control-label" %>
    <div class="controls checkbox">
      <%= f.check_box :newsletter %>
      <%= submit_tag "Sign", disable_with: 'One moment...', class: 'btn' %>
    </div>
  </div>
<% end %>
