<div class="hero-unit">
  <h1>Spy drones in the US?</h1>
  <p class="lead">The Congressional Unmanned Systems Caucus thinks we need them. Let them know that you won't stand idly by while the drone manufacturers buy their votes.</p>
</div>

<h2>What's the problem?</h2>

<p>The drone caucus lists the following as one of their main goals:</p>

<blockquote>
  <p>Recognize the urgent need to rapidly develop and deploy <strong>more Unmanned Systems in</strong> support of ongoing <strong>civil</strong>, military, and law enforcement <strong>operations</strong></p>
</blockquote>

<p>We don't think that is okay. Why do they think that this represents the will of their constituents? They don't, but the drone manufacturers <%= link_to 'give them a lot of money', 'http://www.huffingtonpost.com/2012/05/28/drone-lobbying-companies_n_1546263.html', target: '_blank' %>. Which is more persuasive?</p>

<h2>Let them know</h2>

<p class="lead">First, send your representative a letter.</p>

<p>You can check what representatives in your state are members in the caucus below. If your state is not listed, then none of your representatives are in the drone caucus. You should still let them know that you oppose letting lobbying dollars define the opinions of their elected representatives.</p>

<%= form_tag '#', class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'state_id', "What's your state?", class: "control-label" %>
    <div class="controls">
      <%= select_tag :state_id, options_from_collection_for_select(@caucus_states, :id, :abbreviation), include_blank: true %>
    </div>
  </div>
<% end %>

<div id="caucus-members-in-state">
</div>

<p>Now find the representative for your specific district and their contact information.</p>

<%= form_tag 'http://www.house.gov/htbin/findrep', method: :get, class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'ZIP', "What's your zip code?", class: "control-label" %>
    <div class="controls">
      <%= text_field_tag :ZIP %>
      <%= submit_tag "Find", class: 'btn' %>
    </div>
  </div>
<% end %>

<p class="lead">Then, sign our petition and share this page so your friends can contact their representatives as well. This is everyone's fight.</p>

<%= form_tag '#', class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'name', "Name", class: "control-label" %>
    <div class="controls">
      <%= text_field_tag :name %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'email', "E-mail Address", class: "control-label" %>
    <div class="controls">
      <%= text_field_tag :email %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'emails', "Send me e-mails about getting money out of politics", class: "control-label" %>
    <div class="controls">
      <%= check_box_tag :emails %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag "Find", disable_with: 'One moment...', class: 'btn' %>
    </div>
  </div>
<% end %>